<script type="text/javascript">

    $(function() {

        $('#change').hide();
        $('#change-ca').hide();

        $.get('tasks', function(result) {
                for (i = 0; i < result.length; i++) {
                    $('#task-list').append(renderLine(result[i]));
                }
        });

    });

    function renderLine(task) {
        return '<li id="task'+task.id+'" data-id="'+task.id+'">'+task.description+' <span onclick="javascript:deleteTask('+task.id+')">DEL</span> <span onclick="javascript:updateTask('+task.id+')">EDT</span></li>';
    }

    function saveTask() {
        $.post('tasks', {description: $('#description').val(), priority: null}, function(result) {
            $('#task-list').append(renderLine(result));
            $('#description').val('');
        });
    }

    function deleteTask(id) {
        $.ajax({
            url: 'tasks/' + id,
            type: 'DELETE',
            success: function(result) {
                if (result.result == 'ok') {
                    $('#task'+id).remove();
                }
            }
        });
    }

    function updateTask(id) {
        $.get('tasks/' + id, function(result){
            $('#description').val(result.description);
            $('#description').data('id', result.id);
            $('#create').hide();
            $('#change').show();
            $('#change-ca').show();
        });
    }

    function cancelUpdateTask() {
        $('#description').val('');
        $('#create').show();
        $('#change').hide();
        $('#change-ca').hide();
    }

    function saveUpdateTask() {
        $.ajax({
            url: 'tasks/' + $('#description').data('id'),
            type: 'PUT',
            data: {description: $('#description').val(), done: 'no', deleted: 'no', priority: null},
            success: function(result) {
                $('#task'+result.id).html(result.description);
                $('#description').val('');
                $('#create').show();
                $('#change').hide();
                $('#change-ca').hide();
            }
        });
    }

</script>
<div>
    <ul id="task-list">

    </ul>
    <input type="text" id="description" name="description" value=""/>
    <input id="create" name="create" type="button" value="OK" onclick="javascript:saveTask()"/>
    <input id="change" name="change" type="button" value="OK" onclick="javascript:saveUpdateTask()"/>
    <input id="change-ca" name="change-ca" type="button" value="Cancel" onclick="javascript:cancelUpdateTask()"/>
</div>
<!--
<div id="tm"></div>

<script type="text/javascript">

    var TaskManager = function() {
        this.where = null;
        this.data = {};
    }

    TaskManager.prototype.init = function($where) {
        this.where = $where;
        this.where.html('<div class="task-list-container">ok</div>');
        this.readAll(this.renderAll);
    }

    TaskManager.prototype.readAll = function(callback) {
        var this2 = this;
        $.get('tasks', function(result){
            this2.data = result;
            that = this2;
            callback();
        });
    }

    TaskManager.prototype.renderAll = function() {
        that.where.find('.task-list-container').html('<ul class="task-list"></ul>');
        for (i = 0; i < that.data.length; i++) {
            that.addItem(that.data[i]);
        }
    }

    TaskManager.prototype.addItem = function(item) {
        this.where.append(
            '<li class="task-list-item item-' + item.id + '" data-id="' + item.id + '">' +
            this.renderItem(item) +
            '</li>'
        );

    }

    TaskManager.replaceItem = function(item) {
        this.where.find('.item-' + item.id).html(this.renderItem(item));
    }

    TaskManager.prototype.renderItem = function(item) {
        return '<input type="checkbox" ' + ((item.done == 'yes') ? 'checked="checked"' : '') + '>' +
            '<span class="description"> '+item.description+' </span>' +
            '<span class="priority"> ' + 99 + ' </span>' +
            '<input class="edit" type="button" value="Edit">' +
            '<input class="remove" type="button" value="Remove">';
    }

    TaskManager.prototype.renderItemEditor = function(item) {
        var that = this;
        $where = this.where.find('.item-' + item.id);
        $where.html(
            '<input class="task-list-item-editor item-' + item.id + '" type="text" value="' + item.description + '">' +
            '<input class="save" type="button" value="Save">' +
            '<input class="cancel" type="button" value="Cancel">'
        );
        this.setEditorEvents($where, item);


    }

    TaskManager.prototype.setEditorEvents($where, item) {
        var that = this;
        $where.find('.cancel').click(function() {
            $where.html(that.renderItem(item));
        })
    }


    $(function() {
        var tm = new TaskManager();
        tm.init($('#tm'));
        setTimeout(function() {
            tm.renderItemEditor(tm.data[1]);
        }, 500)
    });

</script>-->
