<!doctype html>
<html>
	<head>
		<title>Web App</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="<?= $app->uri ?>/less/compile/bootstrap/public/less/bootstrap.less" type="text/css"/>
		<script src="http://code.jquery.com/jquery.min.js" type="text/javascript"></script>
		<script type="text/javascript">
		</script>
	</head>
	<body>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="">
                        Scandio
                    </a>
                    <ul class="nav">
                        <li><a href="">Home</a> </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="span2">
                    <?php include('views/navigation.html'); ?>
                </div>
                <div class="span10">
                    <?php include($app->view) ?>
                </div>
            </div>
        </div>
	</body>
</html>