<form action="/~ckoch/lmvc/create" method="POST">
    <input type="text" name="content" id="content" />
    <input type="submit" name="ok" value="Tweet" />
</form>

<table>
    <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Content</th>
        <th>User ID</th>
    </tr>
<?php foreach($tweets as $tweet): ?>
    <tr>
        <td><?= $tweet->id ?></td>
        <td><?= $tweet->date ?></td>
        <td><?= $tweet->content ?></td>
        <td><?= $tweet->user_id ?></td>
    </tr>
<?php endforeach ?>
</table>