<form action="<?= App::get()->uri ?>/create" method="POST">
    <label id="lbl-content" for="content">Tweet</label><input type="text" name="content" id="content" />
    <input type="submit" name="ok" value="Tweet" />
</form>

<table>
    <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Content</th>
        <th>User</th>
    </tr>
<?php foreach($tweets as $tweet): ?>
    <tr>
        <td><?= $tweet->id ?></td>
        <td><?= $tweet->date ?></td>
        <td><?= $tweet->content ?></td>
        <td><?= $tweet->user->fullname ?></td>
    </tr>
<?php endforeach ?>
</table>